LDAP_SERVER=<FQDN or IP of your LDAP server>
LDAP_PORT=<Port number for LDAP (usually 389 for unencrypted or 636 for SSL)>
LDAP_USER=<Fully qualified LDAP user DN for binding (e.g., CN=admin,OU=Admin Accounts,DC=corp,DC=test,DC=com)>
LDAP_PASSWORD=<Password for the LDAP user>

BASE_DN=<Base DN for your LDAP directory (e.g., ou=user accounts,dc=corp,dc=test,dc=com)>

GROUP_EMAIL_DOMAIN=<Email domain for the groups you are creating (e.g., test.com)>
GROUP_OU=<Organizational Unit (OU) where the groups will be created (e.g., OU=Automated Groups,OU=Groups,DC=corp,DC=test,DC=com)>
